

@media all and (max-width: 768px){
  .container {
   flex-direction: column;
  }
  .left-side {
   width: 100%;
   height: 100%;
  }
  .right-side {
   min-width: 100%;
   max-width: 100%;
  }
 }

@media all and (min-width: 768px){
  .wrapper {
   display: grid;
   grid-template-columns:3% 20% 77%;
   }

  .icon-box i {
   padding-top: 15px;
   }
 }

.container {
  display: flex;
  flex-direction: row;
  }

.left-side { 
  width: 300px;
  height: 100%;
  background-color: #FAD0C9FF;
}

.right-side {
 max-width: 100%;
 min-width: 100%;
 background-color:white;
 padding:10% 5%;
 box-sizing: border-box;
}

u{
 text-decoration-color: #6E6E6DFF;
}

img { 
 width: 155px;
 height: 155px;
 border-radius: 50%;
 margin:auto;
 display: block;
}

.left-headings-background {
 background-color:#6E6E6DFF;
 text-align: center;
 color: #FAD0C9FF;
}

#left-top {
 padding-top: 20%;
 padding-bottom: 20%;
}

#img-height {
 height:27%;
}

#aboutme-height {
 padding-top: 80%;
}

.reference-wrapper {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}

span {
 color: #FAD0C9FF;
}

p {
 font-family: ar julian;
 font-size: 14;
}

h2 {
 font-family: ar julian;
}
  
#color {
 color:red;
}

hr {
 border-top: 2px solid #FAD0C9FF;
}

.aboutme-spacing {
 padding-left: 10%;
 padding-right: 10%;
}

#aboutme-word-space {
 word-spacing: 0.3em;
 text-align: justify;
}

.space-for-elements {
 margin-top:10%;
}

.icon-box{
 grid-row:1/4;
 float: left;
 padding-right: 10px;
}

.date-wrapper {
 grid-row:1/4;
 margin-left: 3px;
}

.course-name {
 font-size: 13;
 font-family:AR julian;
 margin-top: 3%
}

.description { 
 font-size: 12px;
 margin-top: 1%;
 font-family: Times New Roman;
 padding-bottom: 20px;
}

#myname {
 font-family:AR julian;
 border-radius: 2px solid black;
}

#underline-student {
 font-family:AR julian;
 border-radius: 2px solid black;
}

.fa-heartbeat {
 color:#6E6E6DFF;
 }

.fa-globe {
 color:#6E6E6DFF;
}

.fa-tree {
 color:#6E6E6DFF;
}

u{
 text-decoration-line:#FAD0C9FF;
}

.icon-box i {
 padding-bottom: 1px;
}

.fa-circle {
  color: #FAD0C9FF;
}

.fa-dot-circle {
  color:#FAD0C9FF;
}

.fa-book-open {
  color: #FAD0C9FF;
  margin-right: 1%;
}

.fa-paperclip {
  color: #FAD0C9FF;
  margin-right: 1%;
}

.fa-toolbox {
 color: #FAD0C9FF;
 margin-right: 1%;
}

.icon-style {
font-size: 3em;
margin-top: 15%;
margin-left:20%;
padding-bottom: 20%;
display:grid;
grid-template-columns: 30% 30% 30%;
}